   * body,html{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

} 
    header{
       background-color: rgb(183, 251, 82);
      
       width: 100%;
       
    }
    
    .f1{
      font-style: oblique;
      color: black;
    }
    .f2{
      color: black;
    }
    .a1{
       background-color:greenyellow;
    }
     .a1 button{
            background-color:black;
            padding: 5px 5px;
            cursor: pointer;
           font-weight:bolder ;
           color: white;
          
        }

        .a1 button :hover{
            background-color: white;
        }
        .c1{
          padding-left:300px;
          
        }
        .par button{
  background-color: black;
  color: aliceblue; 
} 
.h6{
  margin-left: 50px;
}
.a12{
     
      white-space: nowrap;
   font-size: xx-large;
      color: #000000;
      animation: moveLeft 5s linear infinite;
      gap: 20px;
    }

    @keyframes moveLeft {
      from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(-100px);
      }
    }
    .carousel-inner button{
      
      background-color: #000000;
      color:greenyellow ;
      height: 40px;
      width: 300px;
      text-align: center;
      
    }
   .a1{
    padding-left: 60px;
   }
   .a2{
  
    background-color: black;
    color: azure;
 
   }
   .a2 :hover{ opacity: 0.2;}
   .a4{
    font-size: xx-large;
     color:greenyellow ;
   }
   .i00{
    margin-left: 40%;
    margin-top: -30%;

    
   }
   .z1{
    margin: 400px 0px 0px 0px;
   }
    .g1{
      background-color: #000000;
      color: white;
    }
   